<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ysjLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4AE109631C11258800E35E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AE1097F1C11258800E35E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AE1098A1C11258800E35E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
